<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="global.js"></script>
    <title>Products</title>
  </head>
  <body>
    
    <header>
      <h1>March's Most Coveted Items</h1>
    </header>
    
    <h3><a href="javascript:void(0)" id="all_products">View Products</a></h3>
      <div id="product_list">
        
      </div>
  </body>
</html>